@import "~bootstrap/scss/bootstrap.scss"; 

.listing-container {
    margin-top: 1rem;
    .row {
        margin-top: 1rem;
    }
}

.product {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}